main h1 {
  margin-bottom: 2rem;
}

.carousel {
  display: flex;
  gap: 20px;
  width: fit-content;
}

.rectangle {
  min-width: 250px;
  height: 20rem;
  background: #636363;
  &:nth-child(even) {
    background: #919191;
  }
}
